*~
*.a
*.o
autom4te.cache
config.h
config.log
config.status
stamp-h1
version.h
Makefile
libtool
.deps
src/.deps
src/fbpager
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
